.App {
  height: 100%;
  width: 100%;
  background-color: beige;
  text-align: center;
  align-items: center;
  vertical-align: middle
}

.App-logo {
  height: 100%;
  width: 50vw;
  background-color: blue;
  align-self: center;
  margin: auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  
  color: white;
  display: table-cell;
  align-self: center;
  vertical-align: center

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  
}
